{% extends 'base.html' %}


  
{% block content %}
{% for question in cat_questions %}
<div class="question_container"> 
    <form action="{% url 'polls:vote' question.id%}" method='post'>{% csrf_token %}
        <h1>{{question.question_text}}</h1>
        <fieldset>

                
            {% if error_massage %}
                <p><strong>{{error_massage}}</strong></p>
            {% endif %}


            {% for choice in question.choice_set.all %}
                
            <input 
                type="radio"
                name="choice"
                id="choice{{forloop.counter}}"
                value="{{choice.id}}"
            >
            <label for="choice{{forloop.counter}}">
                {{choice.choice_text}}
            </label>
            <br>

            {% endfor %}
        </fieldset>
        <input type="submit" value="Votar">
    </form>
{% endfor %}
  
</div>
{% endblock content %}  




