{% extends 'base.html' %}
{% block title %}Votaciones{% endblock %}

{% block content %}
<div class="question_container">   
  
    <div class= "questions_main">   
    <h1>Preguntas:</h1>

        {% if latest_questions %}
            {% for question in latest_questions %}
                <li><a href="{% url 'polls:numPreg' question.id %}">{{ question.question_text }}</a></li>
            {% empty %}
                <p>No hay preguntas</p>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}